{{outlet}}
<h2> Employees </h2>
<ul>
  {{#each model as |employee|}}
    <li>{{#link-to 'employee' employee}} {{employee.name}} {{/link-to}}</li>
  <br>
{{/each}}
</ul>
  {{#link-to 'team'}}Back to Team Page{{/link-to}}
